scikit-learn
arrow
codecov
docopt
lazy-property
mkdocs==0.12.0; python_version < "3.4"
mkdocs; python_version >= "3.4"
mkdocs-material
pathlib2; python_version < "3.4"
pyfunctional
pymdown-extensions
pytest>=4.6.3
pytest-cov
pytest-mock
redo >= 2.0.3
requests
six
tornado==4.3; python_version < "3.4"
tornado; python_version >= "3.4"
tqdm
typing; python_version < "3.4"
pathlib
pandas<=0.24.0
